html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.app {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.btn {
  padding: 10px;
  margin: 5px;
}
.d-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
}
